<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497804999350-n2a4f38h9ung810lk1vj98jol812pl1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497804999350-n2a4f38h9ung810lk1vj98jol812pl1m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497804999350-alsucldstl1a0eddtkoeg446h7o9glco.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvrX4mpnmI6vXTbAUy3y3OaQVXifwqg7g</string>
	<key>GCM_SENDER_ID</key>
	<string>497804999350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buleklar</string>
	<key>PROJECT_ID</key>
	<string>algacar-f6f3c</string>
	<key>STORAGE_BUCKET</key>
	<string>algacar-f6f3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497804999350:ios:2360a39c6d8e0653540417</string>
	<key>DATABASE_URL</key>
	<string>https://algacar-f6f3c.firebaseio.com</string>
</dict>
</plist>